<p>
	Обзорная статья, цель которой дать общее представление о том что такое приложение.
</p>

<h2>Содержание</h2>
<ul>
	<li class="demo_nav" data-pointTo="demo_app_01">Система каталогов приложения</li>
	<li class="demo_nav" data-pointTo="demo_app_02">Сущность, представляющая приложение</li>
	<li class="demo_nav" data-pointTo="demo_app_03">Модули приложения</li>
	<li class="demo_nav" data-pointTo="demo_app_04">Жизненный цикл приложения</li>
</ul>



<h2 id="demo_app_01"></h2>
<p>
	На уровне системы файлов и директорий стандартный минимум приложения выглядит следующим образом:
</p>
<div class="demo_code_back"><pre>
	_core
	config
		main.php
		module.php
	modules
	web
		index.php
</pre></div>
<p>
	Где:
	<ul>
		<li><b>_core:</b> директория с файлами платформы. Описывает сущности, используемые клиетской и серверной сторонами</li>
		<li><b>config</b>: директория с описанием конфигурации приложения</li>
		<li><b>modules</b>: директория с модулями приложения, может быть переопределена, может не использоваться вообще.
			Из-за удобства все же чаще используется, поэтому в стандартный минимум входит.
			Что такое модули кратко сказано ниже, подробнее - в отдельной главе (ссылка)</li>
		<li><b>web</b>: директория для индексного файла и для размещения общих для приложения ресурсов</li>
	</ul>
</p>



<h2 id="demo_app_02"></h2>

<p>
	Само приложение представлено сущностью lx.
</p>
<p>	
	На стороне сервера это класс <b>\lx</b> и пространство имен <b>lx\</b><br>
	Задачи серверной стороны приложения:
	<ul>
		<li>координирование конфигураций и настроек, общих для всего проекта</li>
		<li>роутинг входящих запросов</li>
		<li>предоставление доступа к компонентам приложения</li>
		<li>предоставление методов доступа к модулям</li>
		<li>предоставление некоторых вспомогательных и информационных методов</li>
	</ul>
<p>
	Подробнее о классе <b>\lx</b> на стороне сервера (ссылка)
</p>
	На клиентской стороне это js-объект <b>lx</b><br>
	Задачи клиентской стороны приложения:
	<ul>
		<li>данные об окружении (браузер и тип платформы) - lx.environment</li>
		<li>централизованная обработка клавиатуры</li>
		<li>поддержка механизмов, связанных с временем (таймеры, повторяющиеся действия)</li>
		<li>глобальные хэндлеры</li>
		<li>играет роль пространства имен для всех сущностей клиентской стороны</li>
	</ul>
<p>
	Подробнее о классе <b>lx</b> на стороне клиента (ссылка)
</p>
</p>



<h2 id="demo_app_03"></h2>

<p>
	Рабочий код приложения инкапсулируется в модули - независымые части приложения со своими системами классов.
	Идея может напоминать мульти-сервисную архитектуру, или плагины в некоторых фрэймворках, т.к. основная задача модулей -
	структурирование кода и предотвращение зависимостей. Отличие в том, что жестких ограничений на взаимодействие разных модулей нет.
	С одной стороны - много свободы в неумелых руках это зло, с другой стороны - больше гибкости. Платформа ориентирована на гибкость.
</p>
<p>	
	Модуль:
	<ul>
		<li>содержит в себе код серверной стороны, код клиентской стороны и ресурсы, необходимые для работы (css-файлы, изображения и т.п.)</li>
		<li>связан с определенным URL в рамках приложения</li>
		<li>имеет свою конфигурацию</li>
		<li>общение между серверной и клиентской частями модуля осуществляется через AJAX</li>
	</ul>
</p>
<p>
	Модуль может быть единственным, тогда приложение фактически становится SPA.
</p>
<p>
	С помощью конфигурации приложения можно настраивать домашний модуль, роутинг для модулей и каталог для автоматического поиска модуля ('modules' в схеме выше ).
</p>
<p>
	На стороне сервера в коде построения графического интерфейса доступна контекстная переменная <b>$Module</b>, содержащая экземпляр исполняемого модуля.
	На стороне клиента аналогично доступна контекстная переменная <b>Module</b>.
</p>
<p>
	Модулям посвящен отдельный раздел. Подробнее о модулях можно узнать в главах этого раздела (ссылка).
</p>



<h2 id="demo_app_04"></h2>

<p>
Загрузка страницы:
	<ol class="ol_class">
		<li class="li_class">Пользователь заходит через браузер по определенному URL - браузер отправляет запрос к серверу на загрузку модуля</li>
			<li class="li_class">Сервер по полученному URL пытается определить модуль
				<ol class="ol_class">
					<li class="li_class">Если модуль не найден - будет возвращена стандартная страница для ответа 404</li>
					<li class="li_class">Если модуль найден - данные о нём собираются сервером и отправляются клиенту</li>
				</ol>
			</li>
		<li class="li_class">Клиент анализириует полученные данные модуля и инициализирует необходимые сущности</li>
	</ol>
</p>
<p>
При действиях на странице все события в рамках текущего (работающего на клиенте) модуля, требующие обращений к серверу, осуществляются через AJAX.
Это может происходить в нескольких вариантах, примеры которых разбираются в следующей главе (сслылка).
</p>
